body, html {
    /*height: 100%;*/
    /*width: 100%;*/
    margin: 0;
    padding: 0;
}

.main-div {
    /*height: 100%;*/
    width: 100%;
    background-color: aliceblue;
}

.center-div {
    height: 500px;
    width: 400px;
    margin: 20px auto auto;
    text-align: center;
    background-color: #00C0FF;
}

.icon-div {
    height: 125px;
    width: 150px;
    margin: 10px auto;
    border-radius: 100px;
}

.form-div {
    height: 350px;

}

.form-div input {
    height: 30px;
    display: block;
    margin: auto auto 20px;
}

.form-div input:first-child {
    margin-top: 20px;
}

.form-div input::placeholder {
    text-align: center;
}

.btn {
    width: 120px;
}